
.media{
    padding-top: 30px;
    padding-bottom: 30px;
}
.media-body{
    overflow: visible;
    padding-left: 100px; 
}

.circle-img {
    height:200px;
    width:201px;
    overflow:hidden;
    border-radius:50%;

    border-style: solid;
    border-color: black;
    border-width: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .circle-img img{
    -webkit-transform:translate(-50%);
    margin-left:100px;
}

.media h2{
    font-weight: 100;
}


.media-body p{
padding-left: 130px;
color: hsl(0, 0%, 41%)
}


.genre-font{
    color: #81a7f8;
    
    padding-left: 125px;
    padding-bottom: 10px;
    font-style: italic;


}

.bottom{

    height: 50px;
    background: #b2b2b2; 
    background: linear-gradient(to left, rgba(255,0,0,0),#b2b2b2); 

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.listing-count{
    color: #5a8cf8;
    height:100px;
    width:101px; 
    border-radius:50%;
    border-style: solid;
    border-width: 5px;
    

    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;

}


@media screen and (max-width: 992px) {
    .media-body{
        overflow: hidden;
        padding-left: 0px; 
    }
    .genre-font{
        padding-left: 10px;
    }
    .media-body p{
        padding-left: 0px;
        }
  }